{
  "mainnetAccount": "{privKey}",
  "testnetAccount": "{privKey}",
  "localhostDeployAccount": "{privKey}",
  "infuraProjectId": "{key}",
  "etherscanApiKey": "{key}",
  "basescanApiKey": "{key}",
  "soakTokenAddress": "",
  "soakFeeRecipient": "",
  "soakedTreasury": ""
}